<div class="ibox-content">
    <h2>Compte Client</h2>
    <div class="col-sm-12-offset-2">


            <div class="profile-image">
                <img src="http://localhost/assets/img/a4.jpg" class="rounded-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            Adrien G
                        </h2>
                        <h4>06.68.69.69.69</h4>
                        <h4>adrieng@gmail.com</h4>
                        <span>
                            3 allée Larre Goiti 64310 Ascain
                        </span>
                    </div>
                </div>
            </div>


    </div>

    </div>
