{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-2">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Clients</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ nombreClient }} client(s)</h1>
                        {#<div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>#}
                        <small>Clients inscrits</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-info float-right">Annual</span>
                        <h5>Pizzas</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ nombrePizza }} pizzas</h1>
                        {#<div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>#}
                        <small>Pizzas vendues</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-primary float-right">Today</span>
                        <h5>Le client du mois</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="no-margins">Albert Robert</h1>
                                {#<div class="font-bold text-navy">44% <i class="fa fa-level-up"></i> <small>Rapid pace</small></div>#}
                            </div>
                            <div class="col-md-6">
                                <h1 class="no-margins">12 pizzas</h1>
                                <div class="font-bold text-navy">Pizza achetées </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Monthly income</h5>
                        <div class="ibox-tools">
                            <span class="label label-primary">Updated 12.2015</span>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="flot-chart m-t-lg" style="height: 55px;">
                            <div class="flot-chart-content" id="flot-chart1" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 450px; height: 55px;" width="900" height="110"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 450px; height: 55px;" width="900" height="110"></canvas></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Gestion des tampons</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#" class="dropdown-item">Config option 1</a>
                                </li>
                                <li><a href="#" class="dropdown-item">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="custom-file">
                            <input id="logo" type="file" class="custom-file-input">
                            <label for="logo" class="custom-file-label">Ajouter un tampon ...</label>
                        </div>


                        <p class="m-t-sm">
                           Liste des tampons existants:
                        </p>
                      <div class="row">
                          <div class="box">
                              <div class="file">
                                  <a href="#">
                                      <span class="corner"></span>

                                      <div class="icon">
                                          <i class="fa fa-file"></i>
                                      </div>
                                      <div class="file-name">
                                          Document_2014.doc
                                          <br/>
                                          <small>Added: Jan 11, 2014</small>
                                      </div>
                                  </a>
                              </div>

                          </div>
                          <div class="box">
                              <div class="file">
                                  <a href="#">
                                      <span class="corner"></span>

                                      <div class="icon">
                                          <i class="fa fa-file"></i>
                                      </div>
                                      <div class="file-name">
                                          Document_2014.doc
                                          <br/>
                                          <small>Added: Jan 11, 2014</small>
                                      </div>
                                  </a>
                              </div>

                          </div>
                          <div class="box">
                              <div class="file">
                                  <a href="#">
                                      <span class="corner"></span>

                                      <div class="icon">
                                          <i class="fa fa-file"></i>
                                      </div>
                                      <div class="file-name">
                                          Document_2014.doc
                                          <br/>
                                          <small>Added: Jan 11, 2014</small>
                                      </div>
                                  </a>
                              </div>

                          </div>
                      </div>



                    </div>
                </div>
            </div>
    </div>
    </div>
{% endblock %}
