{% extends 'base.html.twig' %}
{% block content %}
<div class="ibox-content">
    <h2>Nouveau Client</h2>
        <form class="col-sm-12-offset-2" action="{{ path('ajoutclient') }}" method="post">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="form-group">
                <label for="full-name">Nom</label>
                <input type="text" name="nom" id="full-name" class="form-control" placeholder="Nom" required>
            </div>
            <div class="form-group">
                <label for="full-name">Prénom</label>
                <input type="text" name="prenom" id="full-name" class="form-control" placeholder="Prénom" required>
            </div>
            <div class="form-group">
                <label for="your-email">Email</label>
                <input type="text" name="email" id="your-email" class="form-control" placeholder="Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
            </div>
            <div class="form-group">
                <label for="your-phone">Téléphone</label>
                <input type="tel" name="telephone" id="your-phone" class="form-control" placeholder="Téléphone">
            </div>
            <div class="form-group">
                <label for="your-phone">Adresse</label>
                <input type="text" name="rue" id="rue" class="form-control" placeholder="rue">
                <br>
                <input type="text" name="codepostal" id="rue" class="form-control col-sm-4 inline" placeholder="code postal">
                <input type="text" name="ville" id="rue" class="form-control col-sm-4 inline" placeholder="ville">
            </div>
            <div class="form-row-last">
                <input type="submit" name="register" class="register btn btn-primary" value="Enregistrer">
            </div>
            </div>
        </form>
    </div>
{% endblock %}